
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutoTestSuite" verbose ="2">
	<test name="Regression">
	<parameter name="environment" value ="stg"/>
	<groups>
			<run>
					<include name="working"/>		
			</run>
	
	</groups>
	<classes>
			<class name ="com.angloinfo.testsuites.TestSuite"/>			
		</classes>
	</test>
</suite>




